<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>New Question</h2>
    </div>
  </div>
  <div class="container">

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_area :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.collection_select :tags, @tags,:id, :name %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <div id="tagMessage">
    Please select related to tag to submit.
  </div>
  <div class="form-group" id="tagformSubmit">
    <%= f.submit "Ask!", class: "btn btn-success" %>

  <% end %>
  </div>
  <p>
    <ul id="tasks" />
     <input type="submit" id="addTask" value="add" />
    </ul>
  </p>

</div>

