<div class="jumbotron">
  <div class="container">
    <h1>QAPets</h1>
    <p>Lorem ipsum dolor sit amet, ea laboramus deseruisse sit, cu quas mundi
      sit. Eum id nibh vivendo scribentur, illud ancillae copiosae eu his. Te
      apeirian verterem qualisque mel, sit ea molestie reprehendunt. Ut pro
      justo populo consetetur, alia viris nemore has cu. In pri clita perfecto,
      euismod consulatu et usu. Has in rebum iisque prodesset.
    </p>
      <a class="btn btn-primary btn-lg" role="button">Learn More</a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><b>Explore Our Questions</b></p>
    </div>
  </div>
  <% @questions.each do |question| %>
  <div class="row">
    <div class="col-md-1">
      <p class="text-center"><%= question.quscores.count %></p>
    </div>
    <div class="col-md-1">
      <p class="text-center"><%= question.answers.count %></p>
    </div>
    <div class="col-md-9">
      <p><%= question.title %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p class="text-center">Votes</p>
    </div>
    <div class="col-md-1">
      <p class="text-center">Answers</p>
    </div>

    <div class="col-md-5">
      <p>Question Created At:<%= question.created_at %></p>
    </div>
    <div class="col-md-4">
      <p>By: <%= question.user.email %></p>
    </div>
  </div>
  <% end %>
</div>
<div class="container">
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<div class="footer">
  <div class="container">
    <p class="text-muted">QAPets &copy; 2014</p>
  </div>
</div>
