
<div class="jumbotron">
  <div class="container">
    <h1>QAPets</h1>
    <p>QAPets is a community where pet lovers can ask questions and get
      answers from other pet enthusiasts in the community.
    </p>
    <% if current_user.nil? %>
    <p>
        Getting startedis easy:
        <%= button_to 'Sign Up', new_user_registration_path,
          class: "btn btn-primary btn-lg" %>
      </p>
      <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><b>Explore Our Questions</b></p>
    </div>
  </div>
  <% @questions.each do |question| %>
  <div class="qtop row">
    <div class="col-md-1">
      <p class="text-center"><%= question.num_votes %></p>
    </div>
    <div class="col-md-1">
      <p class="text-center"><%= question.num_answers %></p>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h5><%= link_to question.title, question %></h5>
    </div>
    <div class="col-md-4">
      <% question.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p class="text-center">Votes</p>
    </div>
    <div class="col-md-1">
      <p class="text-center">Answers</p>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <p>Question Created On: <%= question.created_at %></p>
    </div>
    <div class="col-md-4">
      <p>By: <%= question.user.email %></p>
    </div>
    <div>
      <% if  question.tags.count == 0 %>
        <p>no tags</p>
      <% else %>
        <% question.tags.uniq.each do |tag|%>
          <p> <%= tag.name %> </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
<%= paginate @questions %>
  </div>
</div>

