<p id="notice"><%= notice %></p>

<div class="main container">
  <div class="question container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center"><%= @question.title %><h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <h4><%= @question.user.email %> Asked at <%= @question.created_at %>:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a href="#" class="up_question_voteLink" data-question="<%= @question.id %>">Up</a>
        </br>
        <span id="result_<%= @question.id %>"><%= @question.quscores.sum('point') %></span>
        </br>
        <a href="#" class="down_question_voteLink" data-question="<%= @question.id %>">Down</a>
      </div>
      <div class="col-md-10">
        <h5> <%= @question.content %> </h5>
      </div>
    </div>
  </div>
  </br>
  <div class="answer container">
    <% @question.answers.each do |answer| %>
    <div class="qtop row">
      <div class="col-md-2">
        <a href="#" class="up_answer_voteLink" data-article="<%=answer.id%>">Up</a>
        </br>
        <span> <%= answer.anscores.sum('point')%></span>
        </br>
        <a href="#" class="down_answer_voteLink" data-article="<%=answer.id%>">Down</a>
      </div>
      <div class="col-md-10">
        <p><%= answer.user.email %> Responded with:</p>
        <p><%= answer.content %></p>
      </div>
    </div>
    <% end %>
  </div>
  </br>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= link_to 'Back To Questions', questions_path %>
    </div>
  </div>
</div>
