
<p id="notice"><%= notice %></p>

<div class="main container">
  <div class="question container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">
          <%= image_tag avatar_url(@question.user), class: "gravitar" %>
          <%= @question.title %>
          <h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <h4><%= @question.user.email %> Asked at <%= @question.created_at %>:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a href="#" class="up_question_voteLink" data-question="<%= @question.id %>">Up</a>
        </br>
        <span id="result_<%= @question.id %>"><%= @question.quscores.sum('point') %></span>
        </br>
        <a href="#" class="down_question_voteLink" data-question="<%= @question.id %>">Down</a>
      </div>
      <div class="col-md-10">
        <h5> <%= @question.content %> </h5>
      </div>
    </div>
  </div>
  </br>
  <div class="answer container">
    <% @question.answers.each do |answer| %>
    <div class="qtop row">
      <div class="col-md-2">
        <a href="#" class="up_answer_voteLink" data-article="<%=answer.id%>">Up</a>
        </br>
        <span> <%= answer.anscores.sum('point')%></span>
        </br>
        <a href="#" class="down_answer_voteLink" data-article="<%=answer.id%>">Down</a>
      </div>
      <div class="col-md-1">
        <%= image_tag avatar_url(answer.user), class: "gravitar" %>
      </div>
      <div class="col-md-9">
        <p><%= answer.user.email %> Responded with:</p>
        <p><%= answer.content %></p>
      </div>
    </div>
    <% end %>
  </div>
  </br>

  <% if user_signed_in? %>
  <div class="container">
    <%= form_for Answer.new do |f| %>
      <h5>Answer This Question!</h5>
      <%= f.text_area :content, placeholder: "My Awesome Answere Here", class: "form-control" %>
      <%= f.hidden_field :question_id, value: @question.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <br/>
      <%= f.submit 'Answer!', class: "btn btn-default" %>
    <% end %>

    <% else %>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <h4>Have A Great Answer?</h4>
      </div>
      <div class="col-md-2">
        <%= button_to "Sign In!", new_user_session_path, class: "btn btn-success" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <h4>Need An Account?</h4>
      </div>
      <div class="col-md-4">
        <%= button_to "Sign Up!", new_user_registration_path,
        class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <% end %>

  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
      <%= link_to 'Back To Questions', questions_path %>
    </div>
  </div>
</div>

<div id="questionModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Please login</h4>
      </div>
      <div class="modal-body">
        <p>Please Login in order to vote for Questions or answers.&hellip;</p>
        <p> <%= link_to "Click here to login" , new_user_session_path %> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

